fastapi
uvicorn
python-dotenv
google-generativeai
groq
pydantic
passlib[bcrypt]
passlib[argon2]
argon2-cffi
python-jose[cryptography]
python-multipart
uvicorn[standard]
llama-index
langchain
pypdf
chromadb
python-docx
pytest
httpx